/*  screen.css - MoinMoin StarShine Theme

    design by Heather Stern, adapted for moin by Thomas Waldmann
*/

html {
	background-color: black;
	color: white;
}

h2, h3, h4, h5, h6 {
	background-color: #113366;
	color: white;
}	

form {
	background-color: inherit;            
	color: #DFEFF7;
}

textarea, input[type="text"], input[type="password"], select, option {
	border: solid 1px #221100;
	background-color: #000033;            
	color: #DFEFF7;
}

li.gap {
    margin-top: 8pt;
}
    
a:link {
	background-color: inherit;            
	color: #66ccf9;
}

a:visited {
	background-color: inherit;            
	color: #4488cc;
}

a.nonexistent, a.badinterwiki {
	background-color: #070707;
	color: #00dddd;
	font-weight: bold;
}

pre {
	border-color: #CBCBCB;
	background-color: #000011;
	color: #eeeeee;
}

hr {
	background-color: #333333;
	color: #333333;
}

td {
	border-color: #222222;
}

.footnotes div {
	border-top-color: #333333;
}

/* user interface styles */

#navibar li {
	border-color: #333333;
	background-color: #111111;
	color: white;
}

#pagetrail li span {
	border-color: #443333;
	background-color: #111133;
	color: white;
}

#message, #footer {
	border-color: #333333;
	background-color: #111111;
    color: white;
}

#timings li {
	background-color: #111111;
	color: white;
}

#preview {
	border-color: #333333;
	background: url(../img/draft.png);
}

.rcdaybreak td {
    background-color: #444444;
}

.diff {
    width:99%;
}
    
.diff-title {
	background-color: #444444;
}

.diff-added {
	background-color: #200020;
}

.diff-removed {
	background-color: #000020;
}

.diff-added span {
	background-color: #800080;
}

.diff-removed span {
	background-color: #000080;
}

/* eye catchers */
.warning 
{
    color: white;
    background-color: #112255;
    padding: 1pt;
}

.error 
{
    color: #FF0000;
    background-color: #112255;
    padding: 1pt;
}

strong.highlight 
{
    background-color: #0055ff;
    padding: 1pt;
}


