/*  common.css - Sycamore Default Styles
 *  *   These are the styles you probably don't need to change to make your wiki look unique.
 *  v703
 *  */

/* Whole HTML block */
html {
  height: 100%;
  margin:0;
  padding:0;
}

li p { margin: .2em 0; }

li.gap { margin-top: 8pt; }

dt { font-weight: normal; }

/* By default we draw a border around images */
img { border: 1px solid #000000; }
/* ..unless they are a link */
a img { border: 0; }
a img.border { border: 1px solid #000000; }
img.photo { border: 2px solid #ff0000; }
img.borderless { border: 0px!important; }

a.noBorder { text-decoration: none; }
a.nostyle { text-decoration: none !important; }

dt { font-weight: bold; }

table { border-collapse: collapse; }

td { padding: 1pt; } 

/* Footnotes */
.footnotes ul {
  padding: 0 0em !important;
  margin: .3em 1.2em 1em !important;
}
.footnotes li span { padding-right: 2px; }
.footnotes li {
  font-size: 80%;
  list-style: none;
}
.footnotes p { display: inline; }

/* Inline 'error' message */
.error 
{
  color: #FF0000;
  background-color: #EDD097;
  padding: 1pt;
}

/* The previewed page area */
div.preview {
  border: 2px solid #CBCBCB;
  background: url(/wiki/eggheadbeta/img/draft.png);
}

strong.highlight 
{
    background-color: #FFee55;
    font-weight: inherit;
    padding: 1pt;
}

/* Used for images in content that are aligned */
span.floatLeft {
  margin: 1.4em 10px 10px 0px;
  float: left;
  clear: left;
}
span.floatRight {
  margin: 1.4em 0px 10px 10px;
  float: right;
  clear: right;

}
span.noFloat {
  margin: .6em 10px 10px 0px;
  float: left;
}

/* Definition of thumbnail for images */
span.thumb {
  text-align: center;
  padding: 2px;
  border: 1px solid #CBCBCB;
  font-size: 10px;
}
span.thumb img {
  border: 1px solid #CBCBCB;
}
span.thumb.noborder img {
  border: 0px;
}
span.thumb.noborder {
  border: 0px;
}
span.thumb img:hover {
  cursor: pointer;
}
span.thumb span img { border: none; }
span.thumb p { margin: .1em 0 .1em 0; }

/* Caption for images on wiki pages */
p.normalCaption {
  margin: 1px;
  text-align: center;
  padding: 2px;
  font-size: 10px;
}

/* Caption displayed when viewing the image in the Files area */
p.bigCaption {
  margin: 1px;
  text-align: center;
  padding: 2px;
}

/* Area in which the image is displayed when viewing it in the Files area */
.imageDisplay {
  padding-top: 2px;
}

/* This is the link to a file included inside a wiki page */
.fileLink {
  padding-top: 5px;
  padding-bottom: 5px;
}
.fileLink img {
  border: none;
  padding-right: 2px;
}

/* In Files area, this is the link to download a non-image file. */
.downloadLink {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}
.downloadLink img {
  border: none;
  padding-right: 2px;
}

/* This is the list of files shown in the Files area */
.fileList {
  padding-bottom: 2px;
}
.fileList ul {
  list-style-type: none;
  padding-left: 10px;
}
.fileList li {
  padding-left: 0px;
}
.fileList img {
  border: none;
  padding-right: 5px;
}

/* List of user bookmarks seen in the user info area */
div.userFavoritesList { padding: 2px; }
div.userFavoritesList h4 { margin-top: 0; }
div.userFavoritesList div { margin-left: 1em; }
div.userFavoritesList h4 a { text-decoration: none; }
div.userFavoritesList div { margin-bottom: 1em; }

/* A bookmark that is listed in the user info area */
span.userFavoriteItem { padding: 0 10px 0 0; }

/* List of user's watched wikis seen in the user info area */
.userWatchedWikisList span { margin-right: 1em; } 

/* An individual search result that appears in the search area */
.textSearchResult {
  margin-left:45px;
  width: 70%;
}

/* 'progress bar'.  Used for search relevance display. */
.progbar {
  border-left: 1px solid #bbbbbb;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #888888;
  border-right: 1px solid #888888;
}

/* Wiki & User Settings areas */
/* A given setting */
.settings_form_item { margin-top: 1.2em; }
/* A setting's description */
.settings_form_label {
  font-size: 12pt;
  margin-bottom: .3em;
}
/* Optional descriptive text for a setting */
.settings_form_label .optional {
  font-size: 9pt;
  margin-left: .5em;
  color: gray;
}

/* Wiki Security settings overview area */
.securitySettings { margin-left: 1em; }

/* Wiki General Settings area */
.generalSettings { margin-left: .4em; }
/* A general settings label (description of setting) */
.generalSettings .settings_form_label
{
  margin-left: -.18em;
  margin-bottom: .25em;
}

/* Contains "editor size" control inside the Edit area. */
div.pageEditInfo {
  float: right;
  margin:0;
  padding: 0;
}

/* Edit toolbar */
#toolbar {
   margin-right: 15pt;
   text-align: right;
   vertical-align: bottom;
   white-space: nowrap;
}
#toolbar a img {
    margin: 1px;
    border-bottom: 1px solid #ccddff;
    _border-bottom: 0px; /* ie hack */
}
#toolbar a img:hover {
   border-bottom: 1px solid #555555;
   _border-bottom: 0px; /*ie hack */
}
.toolbarPaddingStart { padding-left: 10px; }
.toolbarPaddingEnd { padding-right: 2px; }
#toolbarWithInfo {
   margin-right: 15pt;
   text-align: right;
   vertical-align: bottom;
   white-space: nowrap;
}
#toolbarWithInfo a { margin: 1px; }
#toolbarWithInfo a:hover { background-color: #555555; }
.toolbarSize { width: 234px; font-size: 4px;}
/* icon on toolbar */
.editBarIcon
{
  height: 24px;
  width: 24px;
}

.recentchanges h2 { margin-bottom: .5em; }

.includedPage {
   padding-bottom: .5em;
}

/* Global footer area */
.wikiGlobalFooter { padding-top: .4em; }
/* Wiki Spot specific footer styling */
.wikiSpotFooter
{
  text-align: center;
  font-size: 8pt;
  width: 60%;
  padding: 0 1em 1em 1em;
  color: gray;
}
.wikiSpotFooter a {
  text-decoration: none; 
  color: #333399 !important;
}
.wikiSpotFooter a:hover { color: #669966 !important; }
