/*  common.css - LocalWiki Default Styles */

/* content styles */

html {
	margin:0;
	padding:0;
	background-color: white;
	color: black;
}

h2 {
	font-size: 1.8em;
        font-weight: normal;
        border-bottom: 1px dashed #aaaaaa;
}

h3 {
	font-size: 1.5em;
        font-weight: normal;
}

h4 {
	font-size: 1.3em;
	font-weight:normal;
}

h5 {
	font-size: 1.2em;
	font-weight: normal;
}
h6 {
	font-size: 1.1em;
        font-weight: normal;
}

li p {
	margin: .2em 0;
}

li.gap {
    margin-top: 8pt;
}

dt {
    font-weight: normal;
}
    
a img {
	border: 0;
}

img {
	border: 1px solid #000000;
}
img.photo {
	border: 2px solid #ff0000;
}

img.borderless {
    border: 0px;
}

a img.actionButton {
   border: 1px solid #000088;
}

a img.actionButton:hover {
  border: 1px solid green;
}

input.actionButton {
  border: 1px solid #000088;
}

input.actionButton:hover {
  border: 1px solid green;
}

img.drawing {
	border: 0;
}

dt {
	font-weight: bold;
}

pre {
    padding: .5em;
    white-space: pre-wrap;
    width: auto;
    overflow: auto;
}

#content {
}

.footnotes ul {
	padding: 0 2em;
	margin: 0 0 1em;
}

.footnotes li {
	list-style: none;
}

/* eye catchers */
.warning 
{
    color: #000000;
    background-color: #EDD097;
    padding: 1pt;
}

.error 
{
    color: #FF0000;
    background-color: #EDD097;
    padding: 1pt;
}

strong.highlight 
{
    background-color: #FFee55;
    font-weight: inherit;
    padding: 1pt;
}

 background-color: #FFAA00;
    padding: 1pt;
}

